<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbTykz8MougwJ8Rc00oiRUkSIdL4VZ4lg</string>
	<key>GCM_SENDER_ID</key>
	<string>66866997570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GoncalvesHigino.SwiftMessagerClone</string>
	<key>PROJECT_ID</key>
	<string>swiftuichat-4bab2</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichat-4bab2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66866997570:ios:11bf88a78af525b64780db</string>
</dict>
</plist>